<header id="header">
<div class="inner">
<div class="site-info">
<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
<p class="site-description">{{ site.description }}</p>
<!-- /inner --></div>
</div>
<nav class="global-nav">
<div class="inner">
<ul>
<li><a href="{{ site.baseurl }}/">Blog</a></li>
<li><a href="{{ site.baseurl }}/about">About</a></li>
</ul>
<!-- /inner --></div>
</nav>
</header>

<div class="grid" id="searchBar">
  <div>
    <div id="search">
      <form role="search" method="get" action="{{site.baseurl}}/search/">
        <input id="searchString" name="searchString"
         placeholder="Be a Better Developer, etc." type="text">
        <input id="searchButton" name="googleSearchName" type="submit" value="Search">
      </form>
    </div>
    <div id="archives">
      browse by <a title="The complete archive of {{ site.name }}'s Blog by category"
      href="{{site.baseurl}}/categoryview">category</a> or <a title="The complete archive of
      {{ site.name }}'s Blog by month"
      href="{{site.baseurl}}/monthview">date</a>
    </div>
  </div>
</div>
